<nav class="navbar">
    <div class="container">
      <a href="#" class="navbar-brand">My Website</a>
      <ul class="navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>